---
layout: cms-layout
fabricator: true
---

<div class="container-fluid hidden-xs">
	<div class="row">
		<div class="col-sm-12">
			<div class="mod mod-breadcrumb">
				<h2 id="br1" class="hidden">Seitenpfad (Breadcrumb)</h2>
				<ol class="breadcrumb" aria-labelledby="br1">
					<li><a href="/secoalv/de/home/menue.html" title="Men&uuml;">Men&uuml;</a><span class="icon icon--greater"></span></li>
					<li class="active" aria-selected="true" aria-label="current page">Unternehmen</li>
				</ol>
			</div>
		</div>
	</div>
</div>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12 main-column main-content js-glossary-context" id="content">
			<div class="visible-xs visible-sm">
				<p><a href="#context-sidebar" class="icon icon--before icon--root">Navigation</a></p>
			</div>
			<div class="contentHead">
				<div class="mod mod-backtooverview">
				</div>
				<a href="#" onclick="$.printPreview.printPreview()" class="icon icon--before icon--print pull-right" title="Seite drucken"></a>
				<div class="mod mod-contentpagebfs">
					<h1 class="text-inline sr-only">Unternehmen</h1>
				</div>
			</div>

			<div class="mod mod-html">
				<div class="toolbar toolbar--white" id="toolbar">
					<div class="container">
						<div class="toolbar-collapse">
							<ul class="toolbar-nav toolbar-nav--has-icon">
								<li class="nav-title">
									<h2 class="light">Unsere Leistungen für</h2>
								</li>
								<li class="nav-item">
									<a href="/secoalv/de/home/menue/stellensuchende.html" class="nav-link">
										<span>
											<span class="nav-link__icon">
                                                <span class="icon__stack">
                                                <i class="fa fa-binoculars" aria-hidden="true"></i>
                                                </span>
                                                </span>
										</span>
										<span>Stellensuchende</span>
									</a>
								</li>
								<li class="nav-item active">
									<a href="/secoalv/de/home/menue/unternehmen.html" class="nav-link">
										<span>
											<span class="nav-link__icon">
											<span class="icon__stack">
											<i class="fa fa-building" aria-hidden="true"></i>
											</span>
											</span>
										</span>
										<span>Unternehmen</span>
									</a>
								</li>
								<li class="nav-item">
									<a href="/secoalv/de/home/menue/arbeitsvermittler.html" class="nav-link">
										<span>
											<span class="nav-link__icon">
											<span class="icon__stack">
											<i class="fa fa-eye" aria-hidden="true"></i>
											</span>
											</span>
										</span>
										<span>Arbeitsvermittler</span>
									</a>
								</li>
								<li class="nav-item">
									<a href="/secoalv/de/home/menue/institutionen---medien.html" class="nav-link">
										<span>
											<span class="nav-link__icon">
											<span class="icon__stack">
											<i class="fa fa-university" aria-hidden="true"></i>
											</span>
											</span>
										</span>
										<span>Institutionen / Medien</span>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="mod mod-html">

				<div class="landing-page">
					<div class="landing-page__wide">
						<div class="landing-page--container process-container bg--main-gray-light text--center-align md-whiteframe-1dp">
							<h2 class="text--light">Arbeitslos - was tun?</h2>
							<p>
								Hier erhalten Sie Hilfe und Ratschläge für Ihre Situation.<br />
								In welchem Abschnitt befinden Sie sich?
							</p>
							<div class="process">
								<a href="/secoalv/de/home/menue/stellensuchende.html" class="process__item">
									<p>Vor der Arbeitslosigkeit</p>
								</a>
								<a href="#" class="process__item">
									<p>Ab Beginn der Arbeitslosigkeit</p>
								</a>
								<a href="#" class="process__item hyphenate">
									<p>Finanzielles: Arbeitslosenentschädigung</p>
								</a>
								<a href="#" class="process__item">
									<p>Arbeitslosigkeit abmelden</p>
								</a>
							</div>
						</div>
					</div>
					<div class="landing-page__regular landing-page__regular--media">

						<iframe class="landing-page--container md-whiteframe-1dp" width="100%" height="100%" src="https://www.youtube.com/embed/ZdsUvzE9T_4?rel=0" frameborder="0" allowfullscreen></iframe>

					</div>
				</div>

			</div>
			<div class="mod mod-columncontrols">
				<div class="row">
					<div class="col-sm-4">
						<div class="mod mod-text">
							<article class="clearfix">
								<h2>Für Ihre Stellensuche:</h2>
								<ul>
									<li><a href="/secoalv/de/home/menue/stellensuchende/fuer-die-stellensuche/bewerbungstipps.html">Bewerbungstipps – Was braucht es und worauf muss ich achten?</a></li>
									<li><a href="/secoalv/de/home/menue/stellensuchende/fuer-die-stellensuche/standortbestimmung.html">Standortbestimmung – Was möchte und kann ich?</a></li>
									<li><a href="/secoalv/de/home/menue/stellensuchende/fuer-die-stellensuche/jugendliche.html">Jugendliche - Der Schritt in die Arbeitswelt</a></li>
									<li><a href="/secoalv/de/home/menue/stellensuchende/fuer-die-stellensuche/50-plus.html">50 plus – Von den Stärken ausgehen</a><br>
									</li>
								</ul>
							</article>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="mod mod-text">
							<article class="clearfix">
								<h2>Das hilft Ihnen weiter:</h2>
								<ul>
									<li><a href="/secoalv/de/home/menue/institutionen---medien/faq.html">FAQ zu Arbeitslosigkeit und Zuständigkeiten</a></li>
									<li><a href="/dam/secoalv/de/dokumente/publikationen/broschueren/stellensuchende/2016_SECO_716_204_D_WEB.pdf.download.pdf/2016_SECO_716_204_D_WEB.pdf" title="Arbeitslosigkeit - Ein Leitfaden für Versicherte" class="icon icon--before icon--pdf">Arbeitslosigkeit - Ein Leitfaden für Versicherte<span class="text-dimmed"> (PDF, 123 kB, 26.09.2017)</span></a><br>
									</li>
									<li><a href="/dam/secoalv/de/dokumente/publikationen/broschueren/stellensuchende/716-800_D_WEB-2013.pdf.download.pdf/716-800_D_WEB-2013.pdf" title="Arbeitsmarktliche Massnahmen - Ein erster Schritt zur Wiedereingliederung" class="icon icon--before icon--pdf">Arbeitsmarktliche Massnahmen - Ein erster Schritt zur Wiedereingliederung<span class="text-dimmed"> (PDF, 188 kB, 26.09.2017)</span></a><br>
									</li>
									<li><a href="/secoalv/de/home/menue/stellensuchende/rueckkehr.html">Rückkehr in die Schweiz oder ins Ausland</a><br>
									</li>
									<li><a href="/secoalv/de/home/menue/stellensuchende/menschen-aus-dem-ausland/grenzgaenger-innen.html">Grenzgänger/innen</a><br>
										&nbsp;
									</li>
								</ul>
								<p><a href="/secoalv/de/home/service/publikationen/broschueren.html">Broschüren</a><br>
								</p>
							</article>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="mod mod-html">
							<h2>Amstat Mobile</h2>
							<p>
								Amstat Mobile bietet Ihnen Informationen
								zur aktuellen Lage und zur historischen Entwicklung des Schweizer Arbeitsmarktes.
							</p>
							<p align="center">
								<a href="https://itunes.apple.com/ch/app/amstat/id771099137?mt=8" style="display:inline-block;overflow:hidden;background:url(//linkmaker.itunes.apple.com/assets/shared/badges/de-de/appstore-lrg.svg) no-repeat;width:135px;height:40px;background-size:contain;" target="_blank" class="icon icon--after icon--external"></a>
								<br />
								<a href="https://play.google.com/store/apps/details?id=amstat.mobile.ch&amp;pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1" target="_blank" class="icon icon--after icon--external"><img alt="Jetzt bei Google Play" src="https://play.google.com/intl/en_us/badges/images/generic/de_badge_web_generic.png" height="auto" width="155"></a>
							</p>
						</div>
					</div>
				</div>
			</div>
			<div class="mod mod-columncontrols">
				<div class="row">
					<div class="col-sm-4">
						<div class="mod mod-textimage">
							<div class="clearfix">
								<h2>Kontaktieren Sie uns direkt</h2>
								<figure style="max-width:inherit"><img src="{{baseurl}}/assets/styleguide/images/icons/phone.png" alt=""/></figure>
								<p>Gerne helfen wir Ihnen weiter!</p>
								<a href="/secoalv/de/home/service/kontakt.html" target="_self" title="Kontakt">Kontakt</a>
							</div>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="mod mod-textimage">
							<div class="clearfix">
								<h2>Formulare</h2>
								<figure style="max-width:inherit"><img src="{{baseurl}}/assets/styleguide/images/icons/formulare.png" alt=""/></figure>
								<p>Wir bieten Ihnen viele Broschüren und Formulare zum Download an.</p>
								<a href="/secoalv/de/home/service/formulare.html" target="_self" title="Formulare">Formulare</a>
							</div>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="mod mod-textimage">
							<div class="clearfix">
								<h2>Weiterführende Informationen</h2>
								<figure style="max-width:inherit"><img src="{{baseurl}}/assets/styleguide/images/icons/info.png" alt=""/></figure>
								<p>Eine Sammlung aller Links zu unseren Partnern.<br></p>
								<a href="/secoalv/de/home/menue/institutionen---medien/links.html" target="_self" title="Link-Center">Link-Center</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="mod mod-columncontrols">
				<div class="row">
					<div class="col-sm-4">
						<div class="mod mod-text">
							<article class="clearfix">
								<h2 style="text-align: center;">Über uns</h2>
								<p style="text-align: center;">Informieren Sie sich über Ziele, Struktur, Partner und die Arbeitslosenversicherung<br></p>
								<p style="text-align: center;"><a href="/secoalv/de/home/service/ueber-uns.html">Mehr erfahren</a></p>
							</article>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="mod mod-text">
							<article class="clearfix">
								<h2 style="text-align: center;">Der Arbeitsmarkt im Mai 2017</h2>
								<p style="text-align: center;">Der Arbeitsmarkt profitiert kräftig vom saisonbedingten Beschäftigungswachstum.<br></p>
								<p style="text-align: center;"><br>
									<a href="/secoalv/de/home/menue/institutionen---medien/medienmitteilungen.html">Mehr erfahren</a>
								</p>
							</article>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="mod mod-text">
							<article class="clearfix">
								<h2 style="text-align: center;">Statistiken</h2>
								<p style="text-align: center;">Unsere Statistiken und Berichte geben Ihnen Aufschluss über den Arbeitsmarkt.</p>
								<p style="text-align: center;"><a href="/secoalv/de/home/menue/institutionen---medien/statistiken.html">Mehr erfahren</a></p>
							</article>
						</div>
					</div>
				</div>
			</div>
			<div class="mod mod-columncontrols columncontrols--landingpage columncontrols__4 columncontrols__last">
				<div class="row">
					<div class="col-md-3 col-sm-12">
						<div class="mod mod-image">
							<figure>
								<img alt="seco-de-neg" src="{{baseurl}}/assets/styleguide/images/seco-de-neg.png">
							</figure>
						</div>
					</div>
					<div class="col-md-3 col-sm-4">
						<div class="mod mod-image">
							<figure>
								<img alt="ALV" src="{{baseurl}}/assets/styleguide/images/alv.png">
							</figure>
						</div>
					</div>
					<div class="col-md-3 col-sm-4">
						<div class="mod mod-image">
							<figure>
								<img alt="RAV" src="{{baseurl}}/assets/styleguide/images/rav.png">
							</figure>
						</div>
					</div>
					<div class="col-md-3 col-sm-4">
						<div class="mod mod-image">
							<figure>
								<img alt="EURES" src="{{baseurl}}/assets/styleguide/images/eures.png">
							</figure>
						</div>
					</div>
				</div>
			</div>
			<div class="mod mod-backtooverview">
			</div>
			<div class="clearfix">
				<p class="pull-right">
					<small>
					</small>
				</p>
			</div>
		</div>
	</div>
</div>
