.mod-columncontrols {
	.mod {
		height: 100%;
		width: 100%;

		background-color: darken($body-bg, 3%);
		display: inline-block;
		overflow-wrap: break-word;

		@include alv-border-radius($alv-box-radius);

		padding: $alv-box-padding;
		margin-bottom: $margin-x-general;

		box-shadow: $whiteframe-shadow-1dp;
	}
}
