@media screen and (min-width: 480px){
	.container-main {
		position: relative;
		min-height: 100%;
		padding-bottom: 60px;
	}

	.footer-service {
		display: none;
	}
}

@media screen and (max-width: 479px){
	footer {
		display: block;

		address {
			padding: 0 ($grid-gutter-width/2);
		}
	}

	.footer-service {
		padding-top: $grid-gutter-width;
	}
}

footer {
	padding: 0;
	font-size: $small-font-size;
	background: $brand-inverse;
	display: inline-block;

	position: absolute;
	bottom: 0;
	width: 100%;

	.container-fluid {
		h3 {
			font-weight: $text-weight-light;
		}
	}

	nav {

		&.pull-right {
			> ul {
				margin: 0;
			}
		}

		> ul {
			list-style: none;
			padding: 0;

			> li {
				a {
					color: theme-color('light');
					display: inline-block;

					padding: $nav-link-padding-y 0;

					&:hover {
						color: theme-color('light');
						text-decoration: none;
					}
				}
			}
		}
	}

	address {
		padding: $nav-link-padding-y ($grid-gutter-width/2);

		@media screen and (max-width: 479px){
			padding: 0 ($grid-gutter-width/2);
		}

		margin: 0 auto;

		@include make-container-max-widths();

		span {
			display: inline-block;
			padding: $nav-link-padding-y;
		}
		a {
			color: theme-color('light');
			display: inline-block;

			padding: $nav-link-padding-y;

			&:hover {
				color: theme-color('light');
				text-decoration: none;
				background:  $main-color-gray-dark;
			}
		}
	}
}

.mod-cobranding {

	background: $main-color-gray-dark;

	> .mod-cobranding {
		padding: $grid-gutter-width;
	}

	.thumbnail-wrapper {
		text-align: center;

		img {
			max-height: 80px;
		}
	}


	.col-md-2:first-child {
		.thumbnail-wrapper img {
			max-height: 96px;
		}
	}
}
