.mod-form .bit-notes {
	display: none;
}

.mod-form {
	.form-horizontal {
		.form-group {
			display: flex;
		}

		.control-label {
			text-align: right;

			.form_leftcolmark {
				position: absolute;
				top: 0;
				right: 0;
			}
		}
	}
}
