// missing in alv-styleguide (iframe on landingpage)
.landing-page__regular--media > .landing-page--container {
	padding: 0;
}

// todo delete
@media screen and (min-width: 480px) and (max-width: 1024px){
	.landing-page__regular {
		&.landing-page__regular--media {
			flex: 0 0 100% !important;
			max-width: 100% !important;
		}
	}
}
