.toolbar-nav {
	align-items: flex-start;

	.nav-item {
		text-align: left;

		a {
			display: flex;
			flex-direction: row;
			align-items: center;

			> span:last-of-type {
				margin-left: 0.5rem;
			}
		}
	}

	@media screen and (max-width: get-breakpoint('xxl')){
		.nav-item a {
			display: flex;
			flex-direction: column;
			text-align: center;
		}
	}
}

.toolbar-collapse .toolbar-nav {
	.nav-title {
		display: none;
	}
}

@media screen and (max-width: 479px) {
	.toolbar-nav {
		align-items: center;
	}

	.toolbar-collapse .toolbar-nav {
		flex-direction: column;
		align-items: center;

		background-color: rgba($main-color-gray-100, .75);
		margin-top: .25rem;
		padding: .5rem;

		.nav-title {
			display: block;
		}
	}
}

@media screen and (min-width: 480px) and (max-width: 1024px) {
	.toolbar-nav.toolbar-nav--has-icon .nav-item .nav-link {
		padding: 1.5rem 0;
	}
}
