---
layout: cms-layout
fabricator: true
---

<!-- begin: main -->
<div class="container-fluid hidden-xs">
	<div class="row">
		<div class="col-sm-12">

			<div class="mod mod-breadcrumb">
				<h2 id="br1" class="hidden">Breadcrumb</h2>
				<ol class="breadcrumb" aria-labelledby="br1">

					<li><a href="/seco/de/home.html" title="SECO - Staatssekretariat f&uuml;r Wirtschaft">SECO - Staatssekretariat f&uuml;r Wirtschaft</a><span class="icon icon--greater"></span></li>

					<li><a href="/seco/de/home/Arbeit.html" title="Arbeit">Arbeit</a><span class="icon icon--greater"></span></li>

					<li class="active" aria-selected="true" aria-label="current page">Arbeitslosenversicherung</li>
				</ol>
			</div>

		</div>
	</div>
</div>





<div class="container-fluid">



	<div class="row">
		<div class="col-sm-4 col-md-3 drilldown">




			<div class="mod mod-leftnavigation">

				<a href="#collapseSubNav" data-toggle="collapse" class="visible-xs collapsed" role="tab" aria-selected="false" aria-expanded="false">Unternavigation</a>
				<div class="drilldown-container" id="collapseSubNav" aria-expanded="false">
					<nav class="nav-page-list">

						<a href="/seco/de/home/Arbeit.html" class="icon icon--before icon--less visible-xs">Zur&uuml;ck</a>

						<a href="/seco/de/home/Arbeit.html" class="icon icon--before icon--less"><span class="sr-only">Zur&uuml;ck zu </span>Arbeit</a>

						<ul>



							<li class="list-emphasis active">
								<span>Arbeitslosenversicherung</span> <span class="sr-only"></span>
							</li>
















							<li>
								<a href="/seco/de/home/Arbeit/Arbeitslosenversicherung/grundlagen.html">Grundlagen</a>
							</li>











							<li>
								<a href="/seco/de/home/Arbeit/Arbeitslosenversicherung/arbeitslosigkeit.html">Arbeitslosigkeit</a>
							</li>











							<li>
								<a href="/seco/de/home/Arbeit/Arbeitslosenversicherung/leistungen.html">Leistungen</a>
							</li>











							<li>
								<a href="/seco/de/home/Arbeit/Arbeitslosenversicherung/oeffentliche-arbeitsvermittlung.html">Öffentliche Arbeitsvermittlung</a>
							</li>











							<li>
								<a href="/seco/de/home/Arbeit/Arbeitslosenversicherung/arbeitslosenzahlen.html">Arbeitslosenzahlen</a>
							</li>











							<li>
								<a href="/seco/de/home/Arbeit/Arbeitslosenversicherung/Aufsichtskommission_fuer_den_Ausgleichsfonds_der_Arbeitslosenversicherung_AK_ALV.html">Aufsichtskommission für den Ausgleichsfonds der Arbeitslosenversicherung</a>
							</li>





						</ul>
					</nav>
				</div>

			</div>
		</div>
		<div class="col-sm-8 col-md-9 main-column" id="content" role="main">
			<div class="row">
				<div class="col-md-8 main-content js-glossary-context">



					<div class="visible-xs visible-sm">
						<p><a href="#context-sidebar" class="icon icon--before icon--root">Context sidebar</a></p>
					</div>

					<div class="contentHead">





						<div class="mod mod-backtooverview">

						</div>








						<a href="#" class="icon icon--before icon--print pull-right" title="Seite drucken"></a>









						<div class="mod mod-contentpage">
							<h1 class="text-inline">Arbeitslosenversicherung</h1>
						</div>

					</div>









					<div class="mod mod-image">






					</div>

					<div class="mod mod-text">



						<article class="clearfix">

							<p><b>Die Arbeitslosenversicherung (ALV) sorgt für ein angemessenes Ersatzeinkommen und bemüht sich um eine rasche Wiedereingliederung von Arbeitslosen in den Arbeitsmarkt. Ebenso kann sie in bestimmten Situationen den Unternehmen helfen, schwierige Zeiten zu überbrücken und so Stellen zu erhalten.</b></p>

							<p>Das SECO, die Schweizer Arbeitsmarktbehörde, ist verantwortlich für das Arbeitsvermittlungs- und Arbeitslosenversicherungsgesetz. Die Kantone, die Regionalen Arbeitsvermittlungszentren (RAV), die Logistikstellen für arbeitsmarktliche Massnahmen (LAM) und die Arbeitslosenkassen sind mit dessen Vollzug beauftragt. Das SECO bekämpft in Zusammenarbeit mit den Vollzugspartnern die Arbeitslosigkeit. Die ALV sorgt für ein angemessenes Ersatzeinkommen und bemüht sich um eine rasche und dauerhafte Wiedereingliederung von Arbeitslosen in den Arbeitsmarkt. Zudem vertritt das SECO die Schweiz in internationalen Belangen der Arbeitsvermittlung, des Personalverleihs und zu sämtlichen Fragestellungen rund um die Arbeitslosigkeit.</p>
							<p>Eine der bedeutendsten Leistungen innerhalb der ALV ist die Arbeitslosenentschädigung. Von Arbeitslosigkeit betroffene Personen erhalten einen angemessenen Ersatz für den erlittenen Erwerbsausfall (70 oder 80 % des vorherigen Verdienstes, plafoniert auf den höchst versicherbaren Verdienst von zurzeit 148‘200 Franken jährlich). Die Anzahl Taggelder hängt vom Alter der Person, der Unterhaltspflicht und der Beitragszeit innerhalb der Rahmenfrist ab. Die Entschädigung wird direkt von der zuständigen Arbeitslosenkasse an die Betroffenen ausbezahlt. Selbstständigerwerbende zahlen keine ALV-Beiträge und sind nicht versichert.</p>
							<p>Die RAV sind in den Bereichen Arbeitsmarkt, Stellenvermittlung und Arbeitslosigkeit spezialisiert. Mit über 100 RAV bilden sie die grösste Stellenvermittlungsplattform der Schweiz. Sowohl Arbeitgeber, die eine Stelle anbieten, als auch arbeitslose Personen, die eine Stelle suchen, finden in den RAV einen Vertrauenspartner für die Stellenvermittlung.</p>
							<p>Die ALV fördert durch Finanzierungsbeiträge Beschäftigungs- und Qualifizierungsmassnahmen, die dazu beitragen, die Arbeitsmarktfähigkeit und Vermittelbarkeit von arbeitslosen Personen zu fördern oder zu erhalten. Dazu gehören Kurse und Programme zur vorübergehenden Beschäftigung, aber auch Übungsfirmen, Berufspraktika, Motivationssemester oder spezielle Massnahmen wie Einarbeitungs- oder Ausbildungszuschüsse.</p>
							<p>Bei Massenentlassungen können präventiv besondere Abklärungs- und Qualifikationsmassnahmen für Personen, die von Arbeitslosigkeit bedroht sind, durchgeführt werden. Ebenso können für die intensivere Vermittlung in den von Massenentlassung betroffenen Unternehmen betriebliche Arbeitsmarktzentren eingerichtet werden.</p>
							<p>Als Kurzarbeit wird die vorübergehende teilweise oder vollständige Einstellung der Arbeit in einem Betrieb bezeichnet. Die Kurzarbeitsentschädigung (KAE) dient dazu, vorübergehende, konjunkturell bedingte Arbeitsausfälle aufzufangen und somit die Arbeitsplätze zu erhalten. Sie soll den Arbeitgebern eine Alternative zu Entlassungen bieten.</p>
							<p>Wie bei der KAE soll die Schlechtwetterentschädigung (SWE) dazu beitragen, dass Arbeitsverhältnisse nicht gekündigt werden müssen. Sie kann nur in bestimmten Erwerbszweigen (z.B. Baubranche) ausgerichtet werden, wenn in Folge schlechter Witterung die Fortführung der Arbeit technisch oder wirtschaftlich nicht zugemutet werden kann.</p>
							<p>Bei Zahlungsunfähigkeit des Arbeitgebers (Insolvenz) deckt die Insolvenzentschädigung (IE) den Verdienstausfall der Arbeitnehmenden für maximal vier Monate. Die IE wird nur für geleistete Arbeit ausbezahlt.</p>



						</article>


					</div>















					<div class="mod mod-backtooverview">

					</div>



					<div class="clearfix">














						<p class="pull-left">




							<small>
								<span class="text-dimmed">Letzte &Auml;nderung&nbsp;07.04.2016</span>
							</small>

						</p>







						<p class="pull-right">
							<small>

								<a href="#" class="icon icon--before icon--power hidden-print">
									Zum Seitenanfang
								</a>

							</small>
						</p>

					</div>











					<div class="mod mod-socialshare">


						<div class="social-sharing">

							<a href="#" aria-label="Facebook" data-analytics="facebook" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent(location.href), 'share-dialog', 'width=626,height=436'); return false;">
								<img src="/etc/designs/core/frontend/guidelines/img/FB-f-Logo__blue_29.png" width="16px" height="16px" alt="">
							</a>



							<a href="#" aria-label="Twitter" data-analytics="twitter" onclick="window.open('http://twitter.com/share?text='+encodeURIComponent('Arbeitslosenversicherung')+'&url='+encodeURIComponent(location.href), 'share-dialog', 'width=626,height=436'); return false;">
								<img src="/etc/designs/core/frontend/guidelines/img/Twitter_logo_blue.png" width="16px" height="16px" alt="">
							</a>



							<a href="#" aria-label="Google+" data-analytics="google+" onclick="window.open('https://plus.google.com/share?url='+encodeURIComponent(location.href), 'share-dialog', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600'); return false;">
								<img src="/etc/designs/core/frontend/guidelines/img/gplus-16.png" alt=""/>
							</a>



							<a href="#" aria-label="Xing" data-analytics="xing" onclick="window.open('https://www.xing.com/spi/shares/new?url='+encodeURIComponent(location.href), 'share-dialog', 'width=600,height=450'); return false;">
								<img src="/etc/designs/core/frontend/assets/img/ico-xing.png" width="16px" height="16px" alt=""/>
							</a>



							<a href="#" aria-label="LinkedIn" data-analytics="linkedin" onclick="window.open('https://www.linkedin.com/shareArticle?mini=true&url='+encodeURIComponent(location.href), 'share-dialog', 'width=600,height=450'); return false;">
								<img src="/etc/designs/core/frontend/assets/img/ico-linkedin.png" width="16px" height="16px" alt=""/>
							</a>

						</div>
					</div>






				</div>
				<div class="col-md-4">




					<div class="context-column">


						<a name="context-sidebar"></a>












						<div class="mod mod-contactbox">






						</div>












						<div class="mod mod-basket"></div>



						RIGHT CONTENT












					</div>

				</div>
			</div>
		</div>

	</div>

</div>


<!-- end: main -->
